body{
    font-family: sans-serif;
}
.price{
    min-height: 100vh;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #F4F2FD;
    box-sizing: border-box;
}
.card1{
    width: 250px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-top: 50px;
    padding-left: 35px;
}
.card2{
    width: 250px;
    height: fit-content;
    background-color: #202842;
    color:white;
    border-radius: 5px;
    padding-top: 50px;
    padding-left: 35px;
}
.plan-name{
    font-size: 35px;
}
.pricing{
    font-size: 35px;
    font-weight: 100;
    margin: 12px  0;
}
.freatures{
    display: flex;
    align-items: center;
}
.sub-button-box{
    display: flex;
    justify-content: center;
    margin-left: -35px;
}
.sub-button{
    background-color: #202842;
    color: white;
    border-radius: 24px;
    font-size: 18px;
    padding: 10px 35px;
    margin: 30px auto;
    border-color: transparent;
}
.dark-button{
    background-color: white;
    color: black;
}